---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Publications",
	title: "Publications",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>My name is Shiva Bhusal. I am currently based in Bellevue, WA. I work as a Software Engineer and practice writing poetry and fiction.</p>
		<ul class="list-inside list-disc" role="list">
			<li>Linkedin : </li>
			<li>Google Scholar : </li>
			<li>Quora : </li>
		</ul>
	</div>
</PageLayout>
